# Data Bank Case Study

## Table of Contents

- [Raw data](#Raw-data)<br><br>
- [Case Study Questions](#Case-Study-Questions)   *_with increasing levels of difficulty_
    - [Customer Nodes Exploration](#A.-Customer-Nodes-Exploration)
    - [Customer Transactions](#B.-Customer-Transactions)

## Raw data

The dataset have 3 tables: **Regions**, **Customer Nodes** and **Customer Transactions**.

### Entity Relationship Diagram

![convert notebook to web app](https://8weeksqlchallenge.com/images/case-study-4-erd.png)

[Back to top](#Data-Bank-Case-Study)

In [1]:
%reload_ext sql

In [2]:
%%sql

mysql://root:MyN3wP4ssw0rd@localhost:3306/uditdb

[Back to top](#Data-Bank-Case-Study)

# Case Study Questions
The following case study questions include some general data exploration analysis for the nodes and transactions before diving right into the core business questions and finishes with a challenging final request!

## A. Customer Nodes Exploration

1. [How many unique nodes are there on the Data Bank system?](#A1.-How-many-unique-nodes-are-there-on-the-Data-Bank-system?)<br><br>
2. [What is the number of nodes per region?](#A2.-What-is-the-number-of-nodes-per-region?)<br><br>
3. [How many customers are allocated to each region?](#A3.-How-many-customers-are-allocated-to-each-region?)<br><br>
4. [How many days on average are customers reallocated to a different node?](#A4.-How-many-days-on-average-are-customers-reallocated-to-a-different-node?)<br><br>
5. [What is the median, 80th and 95th percentile for this same reallocation days metric for each region?](#A5.-What-is-the-median,-80th-and-95th-percentile-for-this-same-reallocation-days-metric-for-each-region?)<br><br>

[Back to top](#Data-Bank-Case-Study)

## B. Customer Transactions

1. [What is the unique count and total amount for each transaction type?](#B1.-What-is-the-unique-count-and-total-amount-for-each-transaction-type?)<br><br>
2. [What is the average total historical deposit counts and amounts for all customers?](#B2.-What-is-the-average-total-historical-deposit-counts-and-amounts-for-all-customers?)<br><br>
3. [For each month - how many Data Bank customers make more than 1 deposit and either 1 purchase or 1 withdrawal in a single month?](#B3.-For-each-month---how-many-Data-Bank-customers-make-more-than-1-deposit-and-either-1-purchase-or-1-withdrawal-in-a-single-month?)<br><br>
4. [What is the closing balance for each customer at the end of the month?](#B4.-What-is-the-closing-balance-for-each-customer-at-the-end-of-the-month?)<br><br>
5. [What is the percentage of customers who increase their closing balance by more than 5%?](#B5.-What-is-the-percentage-of-customers-who-increase-their-closing-balance-by-more-than-5%?)<br><br>

[Back to top](#Data-Bank-Case-Study)

# A. Customer Nodes Exploration

## A1. How many unique nodes are there on the Data Bank system?

In [3]:
%%sql

SELECT Count(DISTINCT node_id) AS unique_nodes
FROM   customer_nodes

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(5,)]

[Back to top](#Data-Bank-Case-Study)

## A2. What is the number of nodes per region?

In [4]:
%%sql

SELECT region_name,
       Count(DISTINCT node_id) AS number_of_nodes
FROM   customer_nodes c
       JOIN regions r
         ON c.region_id = r.region_id
GROUP  BY 1

 * mysql://root:***@localhost:3306/uditdb
5 rows affected.

[('Africa', 5), ('America', 5), ('Asia', 5), ('Australia', 5), ('Europe', 5)]

[Back to top](#Data-Bank-Case-Study)

## A3. How many customers are allocated to each region?

In [15]:
%%sql

SELECT region_name,
       Count(DISTINCT customer_id) AS number_of_customers
FROM   customer_nodes c
       JOIN regions r
         ON c.region_id = r.region_id
GROUP  BY 1

 * mysql://root:***@localhost:3306/uditdb
5 rows affected.

[('Africa', 102),
 ('America', 105),
 ('Asia', 95),
 ('Australia', 110),
 ('Europe', 88)]

[Back to top](#Data-Bank-Case-Study)

## A4. How many days on average are customers reallocated to a different node?

*Clarification*: 
- There are some dates in [end_date] column as year 9999. We will need to exclude those data points.
- Need to take the average of days whenever any node gets changed for a customer

In [13]:
%%sql

WITH prev_nodes_info AS
(
         SELECT   customer_id,
                  region_id,
                  node_id,
                  start_date,
                  end_date,
                  lag(node_id) OVER(partition BY customer_id ORDER BY start_date) AS prev_node
         FROM     customer_nodes
         WHERE    year(end_date) <> 9999)

SELECT Round(Avg(Datediff(end_date, start_date)),1) AS Average_days_to_reallocate
FROM   prev_nodes_info
WHERE  prev_node <> node_id

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(Decimal('14.6'),)]

[Back to top](#Data-Bank-Case-Study)

## A5. What is the median, 80th and 95th percentile for this same reallocation days metric for each region?

**Method 1/2**: Short solution by using *percent_rank() over()*

In [101]:
%%sql

WITH prev_nodes_info AS
(
         SELECT   customer_id,
                  region_name,
                  node_id,
                  start_date,
                  end_date,
                  Lag(node_id) OVER (partition BY customer_id ORDER BY start_date) AS prev_node
         FROM     customer_nodes cn
         JOIN     regions rn
         ON       cn.region_id = rn.region_id
         WHERE    Year(end_date) <> 9999 ), sorted_data AS
(
         SELECT   region_name ,
                  Datediff(end_date, start_date)                                                        AS days_to_reallocate ,
                  Percent_rank() OVER(partition BY region_name ORDER BY Datediff(end_date, start_date)) AS per_num
         FROM     prev_nodes_info
         WHERE    prev_node <> node_id )
SELECT   region_name,
         Min(CASE WHEN per_num >= 0.5 THEN days_to_reallocate END ) AS median_days,
         Min(CASE WHEN per_num >= 0.8 THEN days_to_reallocate END ) AS 80th_percentile_days,
         min(CASE WHEN per_num >= 0.95 THEN days_to_reallocate END ) AS 90th_percentile_days
FROM     sorted_data
GROUP BY 1

 * mysql://root:***@localhost:3306/uditdb
5 rows affected.

[('Africa', 16, 24, 28),
 ('America', 16, 24, 28),
 ('Asia', 15, 24, 28),
 ('Australia', 16, 24, 29),
 ('Europe', 16, 25, 29)]

**Method 2/2**: Using joins and without using any percentile formula

In [103]:
%%sql

WITH prev_nodes_info AS
(
         SELECT   customer_id,
                  region_name,
                  node_id,
                  start_date,
                  end_date,
                  Lag(node_id) OVER (partition BY customer_id ORDER BY start_date) AS prev_node
         FROM     customer_nodes cn
         JOIN     regions rn
         ON       cn.region_id = rn.region_id
         WHERE    Year(end_date) <> 9999 ), sorted_data AS
(
       SELECT region_name ,
              Datediff(end_date, start_date) AS days_to_reallocate
       FROM   prev_nodes_info
       WHERE  prev_node <> node_id ), sorted_data_rn AS
(
         SELECT   *,
                  Row_number() OVER(partition BY region_name ORDER BY days_to_reallocate) AS rn
         FROM     sorted_data), required_rns AS
(
         SELECT   region_name,
                  Ceil(Max(rn)/2)    AS median_rn,
                  Ceil(Max(rn)*0.8)  AS 80th_percentile_rn,
                  ceil(max(rn)*0.95) AS 95th_percentile_rn
         FROM     sorted_data_rn
         GROUP BY 1)
SELECT rns.region_name,
       med.days_to_reallocate  AS median_days,
       80th.days_to_reallocate AS 80th_perc_days,
       95th.days_to_reallocate AS 95th_perc_days
FROM   required_rns rns
JOIN   sorted_data_rn med
ON     median_rn = med.rn
AND    rns.region_name = med.region_name
JOIN   sorted_data_rn 80th
ON     80th_percentile_rn = 80th.rn
AND    rns.region_name = 80th.region_name
JOIN   sorted_data_rn 95th
ON     95th_percentile_rn = 95th.rn
AND    rns.region_name = 95th.region_name

 * mysql://root:***@localhost:3306/uditdb
5 rows affected.

[('Africa', 15, 23, 28),
 ('America', 15, 23, 27),
 ('Asia', 14, 23, 27),
 ('Australia', 15, 23, 28),
 ('Europe', 15, 24, 28)]

[Back to top](#Data-Bank-Case-Study)

# B. Customer Transactions

## B1. What is the unique count and total amount for each transaction type?

In [6]:
%%sql

SELECT txn_type,
       Count(*)                   AS transactions_count,
       Format(Sum(txn_amount), 0) AS total_amount
FROM   customer_transactions
GROUP  BY 1

 * mysql://root:***@localhost:3306/uditdb
3 rows affected.

[('deposit', 2671, '1,359,168'),
 ('withdrawal', 1580, '793,003'),
 ('purchase', 1617, '806,537')]

[Back to top](#Data-Bank-Case-Study)

## B2. What is the average total historical deposit counts and amounts for all customers?

In [16]:
%%sql

WITH customer_data
     AS (SELECT customer_id,
                Count(*)        AS deposit_count,
                Avg(txn_amount) AS avg_deposit_amount
         FROM   customer_transactions
         WHERE  txn_type = "deposit"
         GROUP  BY 1
         ORDER  BY 1)
SELECT Ceil(Avg(deposit_count))      AS avg_deposit_count,
       Ceil(Avg(avg_deposit_amount)) AS avg_deposit_amount
FROM   customer_data

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(Decimal('6'), 509)]

[Back to top](#Data-Bank-Case-Study)

## B3. For each month - how many Data Bank customers make more than 1 deposit and either 1 purchase or 1 withdrawal in a single month?

In [27]:
%%sql

WITH customer_transact_type
     AS (SELECT Concat(Year(txn_date), '-', Lpad(Month(txn_date), 2, '0')) AS
                month,
                customer_id,
                Sum(CASE WHEN txn_type = "deposit" THEN 1 END) AS deposit_count,
                Sum(CASE WHEN txn_type = "purchase" THEN 1 END) AS purchase_count,
                Sum(CASE WHEN txn_type = "withdrawal" THEN 1 END) AS withdrawal_count
         FROM   customer_transactions
         GROUP  BY 1,
                   2)
SELECT month,
       Count(*) AS customer_count_with_required_conditions
FROM   customer_transact_type
WHERE  deposit_count > 1
       AND ( purchase_count = 1
              OR withdrawal_count = 1 )
GROUP  BY 1
ORDER  BY 1

 * mysql://root:***@localhost:3306/uditdb
4 rows affected.

[('2020-01', 115), ('2020-02', 108), ('2020-03', 113), ('2020-04', 50)]

[Back to top](#Data-Bank-Case-Study)

## B4. What is the closing balance for each customer at the end of the month?

In [55]:
%%sql

WITH monthly_transaction AS (
    SELECT 
        CONCAT(YEAR(txn_date), '-', LPAD(MONTH(txn_date), 2, '0')) AS month,
        customer_id,
        SUM(CASE WHEN txn_type = 'deposit' THEN txn_amount ELSE 0 END) -
        SUM(CASE WHEN txn_type = 'withdrawal' THEN txn_amount ELSE 0 END) -
        SUM(CASE WHEN txn_type = 'purchase' THEN txn_amount ELSE 0 END) AS monthly_value
    FROM customer_transactions
    GROUP BY 1, 2
)

SELECT month, customer_id,
       SUM(monthly_value) OVER (PARTITION BY customer_id ORDER BY month) AS balance_at_month_end
FROM monthly_transaction
GROUP BY 1, 2
ORDER BY 2
LIMIT 12;

 * mysql://root:***@localhost:3306/uditdb
12 rows affected.

[('2020-01', 1, Decimal('312')),
 ('2020-03', 1, Decimal('-640')),
 ('2020-01', 2, Decimal('549')),
 ('2020-03', 2, Decimal('610')),
 ('2020-01', 3, Decimal('144')),
 ('2020-02', 3, Decimal('-821')),
 ('2020-03', 3, Decimal('-1222')),
 ('2020-04', 3, Decimal('-729')),
 ('2020-01', 4, Decimal('848')),
 ('2020-03', 4, Decimal('655')),
 ('2020-01', 5, Decimal('954')),
 ('2020-03', 5, Decimal('-1923'))]

[Back to top](#Data-Bank-Case-Study)

## B5. What is the percentage of customers who increase their closing balance by more than 5%?

*Clarification*: 
This question is unclear. As per my understanding it may meant to compare the final balance (as per the data) versus the first month end balance.

In [72]:
%%sql

WITH monthly_transaction AS (
    SELECT 
        CONCAT(YEAR(txn_date), '-', LPAD(MONTH(txn_date), 2, '0')) AS month,
        customer_id,
        SUM(CASE WHEN txn_type = 'deposit' THEN txn_amount ELSE 0 END) -
        SUM(CASE WHEN txn_type = 'withdrawal' THEN txn_amount ELSE 0 END) -
        SUM(CASE WHEN txn_type = 'purchase' THEN txn_amount ELSE 0 END) AS monthly_value
    FROM customer_transactions
    GROUP BY 1, 2
),
month_end_balance AS (
    SELECT 
        month,
        customer_id,
        SUM(monthly_value) OVER (PARTITION BY customer_id ORDER BY month) AS balance_at_month_end,
        MIN(month) OVER (PARTITION BY customer_id) AS starting_month,
        MAX(month) OVER (PARTITION BY customer_id) AS ending_month
    FROM monthly_transaction
    GROUP BY 1, 2
    ORDER BY 2
),
customer_portfolio_growth AS (
    SELECT 
        customer_id,
        (SUM(CASE WHEN month = ending_month THEN balance_at_month_end ELSE 0 END) -
         SUM(CASE WHEN month = starting_month THEN balance_at_month_end ELSE 0 END)) /
        SUM(CASE WHEN month = starting_month THEN balance_at_month_end ELSE 0 END) AS growth
    FROM month_end_balance
    GROUP BY 1
)
SELECT 
    ROUND(COUNT(*) * 100 / (SELECT COUNT(DISTINCT customer_id) FROM customer_transactions)) AS customer_prcnt_growth_more_than_5_percent
FROM customer_portfolio_growth AS cg
WHERE growth > 0.5;

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(Decimal('39'),)]

[Back to top](#Data-Bank-Case-Study)