# Foodie-Fi Case Study

## Table of Contents

- [Raw data](#Raw-data)<br><br>
- [Case Study Questions](#A.-Customer-Journey)   *_with increasing levels of difficulty_
    - [Customer Journey](#A.-Customer-Journey)
    - [Data Analysis Questions](#B.-Data-Analysis-Questions)
    - [Challenge Payment Question](#C.-Challenge-Payment-Question)
    - [Outside The Box Questions](#D.-Outside-The-Box-Questions)

## Raw data

The dataset have 2 tables: **plans** and **subscriptions**. A new table will be created later.

### Entity Relationship Diagram

![convert notebook to web app](https://drive.google.com/uc?id=1oQ-lULrv5hyRT2leNcxhjKprgFmoO1me)

[Back to top](#Foodie-Fi-Case-Study)

In [1]:
%reload_ext sql

In [2]:
%%sql

mysql://root:MyN3wP4ssw0rd@localhost:3306/uditdb

[Back to top](#Foodie-Fi-Case-Study)

## A. Customer Journey

1. [Based off the 2 sample customers provided in the sample from the subscriptions table, write a brief description about each customer’s onboarding journey](#A1.-Based-off-the-2-sample-customers-provided-in-the-sample-from-the-subscriptions-table,-write-a-brief-description-about-each-customer’s-onboarding-journey)

[Back to top](#Foodie-Fi-Case-Study)

## B. Data Analysis Questions

1. [How many customers has Foodie-Fi ever had?](#B1.-How-many-customers-has-Foodie-Fi-ever-had?)<br><br>
2. [What is the monthly distribution of trial plan start_date values for our dataset - use the start of the month as the group by value](#B2.-What-is-the-monthly-distribution-of-trial-plan-start_date-values-for-our-dataset---use-the-start-of-the-month-as-the-group-by-value)<br><br>
3. [What plan start_date values occur after the year 2020 for our dataset? Show the breakdown by count of events for each plan_name](#B3.-What-plan-start_date-values-occur-after-the-year-2020-for-our-dataset?-Show-the-breakdown-by-count-of-events-for-each-plan_name)<br><br>
4. [What is the customer count and percentage of customers who have churned rounded to 1 decimal place?](#B4.-What-is-the-customer-count-and-percentage-of-customers-who-have-churned-rounded-to-1-decimal-place?)<br><br>
5. [How many customers have churned straight after their initial free trial - what percentage is this rounded to the nearest whole number?](#B5.-How-many-customers-have-churned-straight-after-their-initial-free-trial---what-percentage-is-this-rounded-to-the-nearest-whole-number?)<br><br>
6. [What is the number and percentage of customer plans after their initial free trial?](#B6.-What-is-the-number-and-percentage-of-customer-plans-after-their-initial-free-trial?)<br><br>
7. [What is the customer count and percentage breakdown of all 5 plan_name values at 2020-12-31?](#B7.-What-is-the-customer-count-and-percentage-breakdown-of-all-5-plan_name-values-at-2020-12-31?)<br><br>
8. [How many customers have upgraded to an annual plan in 2020?](#B8.-How-many-customers-have-upgraded-to-an-annual-plan-in-2020?)<br><br>
9. [How many days on average does it take for a customer to an annual plan from the day they join Foodie-Fi?](#B9.-How-many-days-on-average-does-it-take-for-a-customer-to-an-annual-plan-from-the-day-they-join-Foodie-Fi?)<br><br>
10. [Can you further breakdown this average value into 30 day periods (i.e. 0-30 days, 31-60 days etc)](#B10.-Can-you-further-breakdown-this-average-value-into-30-day-periods-(i.e.-0-30-days,-31-60-days-etc))<br><br>
11. [How many customers downgraded from a pro monthly to a basic monthly plan in 2020?](#B11.-How-many-customers-downgraded-from-a-pro-monthly-to-a-basic-monthly-plan-in-2020?)

[Back to top](#Foodie-Fi-Case-Study)

## C. Challenge Payment Question

1. [The Foodie-Fi team wants you to create a new payments table for the year 2020 that includes amounts paid by each customer in the subscriptions table with the following requirements](#C1.-The-Foodie-Fi-team-wants-you-to-create-a-new-payments-table-for-the-year-2020-that-includes-amounts-paid-by-each-customer-in-the-subscriptions-table-with-the-following-requirements)

[Back to top](#Foodie-Fi-Case-Study)

## D. Outside The Box Questions

The following are open ended questions - there are no right or wrong answers, but answers that make sense from both a technical and a business perspective!

1. [How would you calculate the rate of growth for Foodie-Fi?](#D1.-How-would-you-calculate-the-rate-of-growth-for-Foodie-Fi?)<br><br>
2. [What key metrics would you recommend Foodie-Fi management to track over time to assess performance of their overall business?](#D2.-What-key-metrics-would-you-recommend-Foodie-Fi-management-to-track-over-time-to-assess-performance-of-their-overall-business?)<br><br>

[Back to top](#Foodie-Fi-Case-Study)

# A. Customer Journey

## A1. Based off the 2 sample customers provided in the sample from the _subscriptions_ table, write a brief description about each customer’s onboarding journey

Try to keep it as short as possible - you may also want to run some sort of join to make your explanations a bit easier!

In [6]:
%%sql

select  s.*, plan_name from subscriptions s join plans p on s.plan_id = p.plan_id where  customer_id <3

 * mysql://root:***@localhost:3306/uditdb
4 rows affected.

[(1, 0, datetime.date(2020, 8, 1), 'trial'),
 (1, 1, datetime.date(2020, 8, 8), 'basic monthly'),
 (2, 0, datetime.date(2020, 9, 20), 'trial'),
 (2, 3, datetime.date(2020, 9, 27), 'pro annual')]

- Customer 1 starts 7 day free trial on 1st Aug'2020
- Customer 1 changed the plan from free trial to basic monthly on 8th Aug 2020 because the free trial got ended (after 7 day)
- Customer 2 starts 7 day free trial on 20th Sep 2020
- Customer 2 changed the plan from free trial to pro annual on 27th Sep 2020 because the free trial got ended (after 7 day)

[Back to top](#Foodie-Fi-Case-Study)

# B. Data Analysis Questions

## B1. How many customers has Foodie-Fi ever had?

In [10]:
%%sql

SELECT Count(DISTINCT customer_id) AS Total_customers
FROM   subscriptions

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(1000,)]

[Back to top](#Foodie-Fi-Case-Study)

## B2. What is the monthly distribution of trial plan start_date values for our dataset - use the start of the month as the group by value

In [36]:
%%sql

SELECT months,
       total_trial_plans,
       plan_name
FROM   (SELECT Date_format(start_date, '%Y%m')  AS Months_sort,
               Date_format(start_date, '%M-%Y') AS Months,
               plan_name,
               Count(customer_id)               AS Total_trial_plans
        FROM   subscriptions s
               JOIN plans p
                 ON s.plan_id = p.plan_id
        WHERE  plan_name = 'trial'
        GROUP  BY 1,
                  2
        ORDER  BY 1) t

 * mysql://root:***@localhost:3306/uditdb
12 rows affected.

[('January-2020', 88, 'trial'),
 ('February-2020', 68, 'trial'),
 ('March-2020', 94, 'trial'),
 ('April-2020', 81, 'trial'),
 ('May-2020', 88, 'trial'),
 ('June-2020', 79, 'trial'),
 ('July-2020', 89, 'trial'),
 ('August-2020', 88, 'trial'),
 ('September-2020', 87, 'trial'),
 ('October-2020', 79, 'trial'),
 ('November-2020', 75, 'trial'),
 ('December-2020', 84, 'trial')]

[Back to top](#Foodie-Fi-Case-Study)

## B3. What plan start_date values occur after the year 2020 for our dataset? Show the breakdown by count of events for each plan_name

In [38]:
%%sql

SELECT plan_name,
       Count(customer_id) AS total_plans
FROM   subscriptions s
       JOIN plans p
         ON s.plan_id = p.plan_id
WHERE  Year(start_date) > 2020
GROUP  BY 1

 * mysql://root:***@localhost:3306/uditdb
4 rows affected.

[('churn', 71), ('pro monthly', 60), ('pro annual', 63), ('basic monthly', 8)]

[Back to top](#Foodie-Fi-Case-Study)

## B4. What is the customer count and percentage of customers who have churned rounded to 1 decimal place?

In [14]:
%%sql

SELECT churned_customers_count,
       Round(churned_customers_count * 100 / Count(DISTINCT customer_id), 1) AS
       churned_customers_percentage
FROM   subscriptions,
       (SELECT Count(DISTINCT customer_id) AS churned_customers_count
        FROM   subscriptions s
               JOIN plans p
                 ON s.plan_id = p.plan_id
        WHERE  plan_name = "churn") count_cust
GROUP  BY 1

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(307, Decimal('30.7'))]

[Back to top](#Foodie-Fi-Case-Study)

## B5. How many customers have churned straight after their initial free trial - what percentage is this rounded to the nearest whole number?

In [32]:
%%sql

WITH plan_ranked
     AS (SELECT customer_id,
                plan_id,
                Rank()
                  OVER(
                    partition BY customer_id
                    ORDER BY start_date) AS rank1
         FROM   subscriptions),
     churn_after_trial
     AS (SELECT Count(DISTINCT customer_id) AS count_churned_after_trial
         FROM   plan_ranked r
                JOIN plans p
                  ON r.plan_id = p.plan_id
         WHERE  plan_name = "churn"
                AND rank1 = 2)
SELECT count_churned_after_trial,
       Round(count_churned_after_trial * 100 / Count(DISTINCT customer_id)) AS
       prcnt_churned_after_trial
FROM   subscriptions,
       churn_after_trial
GROUP  BY 1

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(92, Decimal('9'))]

[Back to top](#Foodie-Fi-Case-Study)

## B6. What is the number and percentage of customer plans after their initial free trial?

*Explanation:* This means what kind of plan was choosen straight after the free trial

In [56]:
%%sql

WITH plan_ranked
     AS (SELECT customer_id,
                plan_id,
                Rank()
                  OVER(
                    partition BY customer_id
                    ORDER BY start_date) AS rank1
         FROM   subscriptions)
SELECT plan_name,
       Count(customer_id)                                      AS
       Plans_count_after_trial,
       Round(Count(customer_id) * 100 / (SELECT Count(customer_id)
                                         FROM   plan_ranked
                                         WHERE  rank1 = 2), 1) AS prcnt
FROM   plan_ranked r
       JOIN plans p
         ON r.plan_id = p.plan_id
WHERE  rank1 = 2
GROUP  BY 1
ORDER  BY 2 DESC

 * mysql://root:***@localhost:3306/uditdb
4 rows affected.

[('basic monthly', 546, Decimal('54.6')),
 ('pro monthly', 325, Decimal('32.5')),
 ('churn', 92, Decimal('9.2')),
 ('pro annual', 37, Decimal('3.7'))]

[Back to top](#Foodie-Fi-Case-Study)

## B7. What is the customer count and percentage breakdown of all 5 plan_name values at 2020-12-31?

*Explanation:* Active plans and customers associated with those plan on that date

In [68]:
%%sql

WITH plan_ranked
     AS (SELECT customer_id,
                plan_id,
                Rank()
                  OVER(
                    partition BY customer_id
                    ORDER BY start_date DESC) AS rank1
         FROM   subscriptions
         WHERE  start_date <= '2020-12-31')
SELECT plan_name,
       Count(customer_id)                                      AS
       num_of_customers,
       Round(Count(customer_id) * 100 / (SELECT Count(customer_id)
                                         FROM   plan_ranked
                                         WHERE  rank1 = 1), 1) AS prcnt
FROM   plan_ranked r
       JOIN plans p
         ON r.plan_id = p.plan_id
WHERE  rank1 = 1
GROUP  BY 1
ORDER  BY 2 DESC

 * mysql://root:***@localhost:3306/uditdb
5 rows affected.

[('pro monthly', 326, Decimal('32.6')),
 ('churn', 236, Decimal('23.6')),
 ('basic monthly', 224, Decimal('22.4')),
 ('pro annual', 195, Decimal('19.5')),
 ('trial', 19, Decimal('1.9'))]

[Back to top](#Foodie-Fi-Case-Study)

## B8. How many customers have upgraded to an annual plan in 2020?

*Explanation:* Count of pro annual plans in 2020

In [5]:
%%sql

SELECT Count(customer_id) AS customer_count
FROM   subscriptions
       JOIN plans using(plan_id)
WHERE  plan_name = 'pro annual'
       AND Year(start_date) = 2020

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(195,)]

[Back to top](#Foodie-Fi-Case-Study)

## B9. How many days on average does it take for a customer to an annual plan from the day they join Foodie-Fi?

*Explanation:* Average of days from 1st choosen plan to pro annual plan

In [14]:
%%sql

WITH first_plan
     AS (SELECT customer_id,
                Min(start_date) AS first_plan_start_date
         FROM   subscriptions
         GROUP  BY 1)
SELECT Round(Avg(Datediff(start_date, first_plan_start_date))) AS avg_days_taken
FROM   subscriptions
       JOIN first_plan using(customer_id)
WHERE  plan_id = 3

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(Decimal('105'),)]

[Back to top](#Foodie-Fi-Case-Study)

## B10. Can you further breakdown this average value into 30 day periods (i.e. 0-30 days, 31-60 days etc)

*Explanation:* Instead of creating categories one by one, we can create a mathematical formula to convert the days in categories of 30 days difference. Here the formula is: *concat((CEIL(days_taken/30)-1)*30,"-", CEIL(days_taken/30)*30," days")***

In [35]:
%%sql

WITH first_plan
     AS (SELECT customer_id,
                Min(start_date) AS first_plan_start_date
         FROM   subscriptions
         GROUP  BY 1),
     days_difference
     AS (SELECT customer_id,
                Avg(Datediff(start_date, first_plan_start_date)) AS days_taken
         FROM   subscriptions
                JOIN first_plan using(customer_id)
         WHERE  plan_id = 3
         GROUP  BY 1)
SELECT Ceil(days_taken / 30) AS Num,
       Concat(( Ceil(days_taken / 30) - 1 ) * 30, "-", Ceil(days_taken / 30) * 30, " days")       AS category,
       Count(customer_id)    AS customers_count,
       Ceil(Avg(days_taken)) AS avg_days_taken
FROM   days_difference
GROUP  BY 1,
          2
ORDER  BY 1

 * mysql://root:***@localhost:3306/uditdb
12 rows affected.

[(1, '0-30 days', 49, 10),
 (2, '30-60 days', 24, 43),
 (3, '60-90 days', 34, 72),
 (4, '90-120 days', 35, 101),
 (5, '120-150 days', 42, 134),
 (6, '150-180 days', 36, 163),
 (7, '180-210 days', 26, 191),
 (8, '210-240 days', 4, 225),
 (9, '240-270 days', 5, 258),
 (10, '270-300 days', 1, 285),
 (11, '300-330 days', 1, 327),
 (12, '330-360 days', 1, 346)]

[Back to top](#Foodie-Fi-Case-Study)

## B11. How many customers downgraded from a pro monthly to a basic monthly plan in 2020?

In [47]:
%%sql

WITH pro_monthly_plan
     AS (SELECT customer_id,
                start_date AS pro_monthly_plan_start_date
         FROM   subscriptions
         WHERE  plan_id = 2)
SELECT Count(s.customer_id) AS customers_count
FROM   subscriptions s
       JOIN pro_monthly_plan p
         ON s.customer_id = p.customer_id
            AND s.start_date > p.pro_monthly_plan_start_date
WHERE  plan_id = 1
       AND Year(s.start_date) = 2020

 * mysql://root:***@localhost:3306/uditdb
1 rows affected.

[(0,)]

*Explanation:* Hense no customer downgraded from a pro monthly to a basic monthly plan in 2020

[Back to top](#Foodie-Fi-Case-Study)

# C. Challenge Payment Question

## C1. The Foodie-Fi team wants you to create a new payments table for the year 2020 that includes amounts paid by each customer in the subscriptions table with the following requirements

- monthly payments always occur on the same day of month as the original start_date of any monthly paid plan
- upgrades from basic to monthly or pro plans are reduced by the current paid amount in that month and start immediately
- upgrades from pro monthly to pro annual are paid at the end of the current billing period and also starts at the end of the month period
- once a customer churns they will no longer make payments

*Explanation:* If the ongoing plan is Basic, they will allow you to take pro plans and will reduce the price by 9.9 (if basic plan has been going on for less than 1 month). And if the ongoing plan is any pro plan, they will not let you pay untill the existing pro plan is finished. <br><br>
**In order to show the data that also shows the change in price I have filtered it for certain customers**

In [54]:
%%sql
USE uditdb;

DROP TABLE IF EXISTS payments;

CREATE TABLE payments AS 

WITH plans_data_mod
     AS (SELECT customer_id,
                start_date,
                plan_name,
                price,
                Lag(start_date, 1)
                  OVER(
                    partition BY customer_id
                    ORDER BY start_date) AS previous_plan_start_date,
                Lag(plan_name, 1)
                  OVER(
                    partition BY customer_id
                    ORDER BY start_date) AS previous_plan_name
         FROM   subscriptions
                JOIN plans using(plan_id)
         WHERE  NOT plan_name IN ( "trial", "churn" )
         ORDER  BY 1)
SELECT customer_id,
       plan_name,
       start_date               AS payment_date,
       CASE
         WHEN Timestampdiff(month, previous_plan_start_date, start_date) = 0
       THEN price
         - 9.9
         ELSE price
       END                      AS amount,
       Rank()
         OVER(
           partition BY customer_id
           ORDER BY start_date) AS payment_order
FROM   plans_data_mod

 * mysql://root:***@localhost:3306/uditdb
0 rows affected.
0 rows affected.
1343 rows affected.

[]

In [53]:
%%sql

SELECT *
FROM   payments
WHERE  customer_id IN ( 1, 16, 19, 202,
                        258, 272, 226 )

 * mysql://root:***@localhost:3306/uditdb
12 rows affected.

[(1, 'basic monthly', datetime.date(2020, 8, 8), Decimal('9.90'), 1),
 (16, 'basic monthly', datetime.date(2020, 6, 7), Decimal('9.90'), 1),
 (16, 'pro annual', datetime.date(2020, 10, 21), Decimal('199.00'), 2),
 (19, 'pro monthly', datetime.date(2020, 6, 29), Decimal('19.90'), 1),
 (19, 'pro annual', datetime.date(2020, 8, 29), Decimal('199.00'), 2),
 (202, 'pro monthly', datetime.date(2020, 7, 8), Decimal('19.90'), 1),
 (226, 'basic monthly', datetime.date(2020, 11, 8), Decimal('9.90'), 1),
 (226, 'pro monthly', datetime.date(2020, 11, 24), Decimal('10.00'), 2),
 (258, 'basic monthly', datetime.date(2020, 6, 26), Decimal('9.90'), 1),
 (258, 'pro annual', datetime.date(2020, 7, 6), Decimal('189.10'), 2),
 (272, 'basic monthly', datetime.date(2020, 12, 26), Decimal('9.90'), 1),
 (272, 'pro annual', datetime.date(2021, 1, 17), Decimal('189.10'), 2)]

[Back to top](#Foodie-Fi-Case-Study)

# D. Outside The Box Questions

## D1. How would you calculate the rate of growth for Foodie-Fi?

*Explanation:* There are two types of growth 
- financially i.e. increase in revenue (using previously created payments table)
- and count of active customers

In [94]:
%%sql
WITH revenue
     AS (SELECT Date_format(payment_date, "%b-%y") AS Months,
                Max(payment_date)                  AS Month_sort,
                Sum(amount)                        AS Revenue
         FROM   payments
         GROUP  BY 1
         ORDER  BY 2)
SELECT months,
       revenue,
       Concat(Round(( revenue - ( Lag(revenue, 1)
                                    OVER(
                                      ORDER BY month_sort) ) ) * 100 / revenue),
       "%")
       AS Growth
FROM   revenue

 * mysql://root:***@localhost:3306/uditdb
16 rows affected.

[('Jan-20', Decimal('1272.10'), None),
 ('Feb-20', Decimal('1928.50'), '34%'),
 ('Mar-20', Decimal('2594.60'), '26%'),
 ('Apr-20', Decimal('3182.10'), '18%'),
 ('May-20', Decimal('3828.40'), '17%'),
 ('Jun-20', Decimal('4425.40'), '13%'),
 ('Jul-20', Decimal('5152.20'), '14%'),
 ('Aug-20', Decimal('6365.60'), '19%'),
 ('Sep-20', Decimal('6336.50'), '0%'),
 ('Oct-20', Decimal('7709.20'), '18%'),
 ('Nov-20', Decimal('5052.40'), '-53%'),
 ('Dec-20', Decimal('5341.10'), '5%'),
 ('Jan-21', Decimal('5362.70'), '0%'),
 ('Feb-21', Decimal('3621.80'), '-48%'),
 ('Mar-21', Decimal('2089.50'), '-73%'),
 ('Apr-21', Decimal('2726.30'), '23%')]

[Back to top](#Foodie-Fi-Case-Study)

In [100]:
%%sql

with customer_growth as (select Date_format(start_date, "%b-%y") AS Months,
                Max(start_date)                  AS Month_sort, count(distinct customer_id) as active_customers
    from subscriptions group by 1 order by 2)

SELECT months,
       active_customers,
       Concat(Round(( active_customers - ( Lag(active_customers, 1)
                                    OVER(
                                      ORDER BY month_sort) ) ) * 100 / active_customers),
       "%")
       AS Growth
FROM   customer_growth

 * mysql://root:***@localhost:3306/uditdb
16 rows affected.

[('Jan-20', 88, None),
 ('Feb-20', 90, '2%'),
 ('Mar-20', 120, '25%'),
 ('Apr-20', 120, '0%'),
 ('May-20', 139, '14%'),
 ('Jun-20', 136, '-2%'),
 ('Jul-20', 147, '7%'),
 ('Aug-20', 161, '9%'),
 ('Sep-20', 158, '-2%'),
 ('Oct-20', 164, '4%'),
 ('Nov-20', 146, '-12%'),
 ('Dec-20', 151, '3%'),
 ('Jan-21', 76, '-99%'),
 ('Feb-21', 47, '-62%'),
 ('Mar-21', 44, '-7%'),
 ('Apr-21', 33, '-33%')]

## D2. What key metrics would you recommend Foodie-Fi management to track over time to assess performance of their overall business?

1. **Active Customers**: The trend of #Active Customers
2. **Customer retention rate**: [New customers that got added in a month] / [Total number of Customers at the start of month]
2. **Free trial to any paid plan rate**: What percentage of cutomers get converted from free trail to any paid plan
3. **Churn Rate**: How many customers and what percentage of total customers choose churn on a monthly basis
4. **Average Revenue per month**: How much revenue is generated on an average each month and its growth on monthly basis 
5. **New Customers addition rate**: At what pace the new customers are being added in the pool 
6. **Number of Free trials VS Number of new Paid plans**

[Back to top](#Foodie-Fi-Case-Study)